{% extends 'base.html.twig' %}

{% block title %}Liste des achats
{% endblock %}

{% block body %}


{% set total = null %} {% for purchase in purchases %}
	<div class="row">
		<div class="col-4">
			<div class="card mb-2">
				<div class="card-header">
					{{ purchase.currency }}
				</div>
				<div class="card-body">
					<h5 class="card-title">
						{{purchase.quantity}}
						X
						{{ purchase.price |number_format(2 )}}$
					</h5>

					<h4>
						{{purchase.quantity * purchase.price}}$</h4>

				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card mb-2">
				{% for item in data.data %}
					{% if item.name is same as purchase.currency %}
						<div class="card-header">
							{{ item.name }}
						</div>
						<div class="card-body">
							<h5 class="card-title">
								Current value:
								{{ item.quote.USD.price|number_format(2 )}}$
							</h5>


						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			{{((item.quote.USD.price - purchase.price)* purchase.quantity)|number_format(2 ) }}
            {% set total = total + ((item.quote.USD.price - purchase.price)* purchase.quantity) %}
		</div>
	</div>
{% endif %}{% endfor %}{% endfor %}

<h1>{{total|number_format(2 )}}</h1>
{% endblock %}
