{% extends 'base.html.twig' %}

{% block title %}Achat
{% endblock %}

{% block body %}

		<div class="row mx-auto card bg-black pt-5" style="width: 18rem;">
			<ul class="list-group list-group-flush ">
				<li class="list-group-item bg-black">{{purchase.currency}}</li>
				<li class="list-group-item bg-black">Quantité:
					{{purchase.quantity}}</li>
				<li class="list-group-item bg-black">Prix d'achat:
					{{ purchase.price |number_format(2 )}}$</li>
					{% for item in data.data %}
					{% if item.name is same as purchase.currency %}
					<li class="list-group-item bg-black">Prix actuel:
					{{ item.quote.USD.price |number_format(2 )}}$</li>
					{% endif %}
					{% endfor %}
				<li class="list-group-item bg-black">Total acheté:
					{{purchase.quantity * purchase.price}}$</li>
          <li class="list-group-item bg-black"><a href="{{path('edit',{'id':purchase.id})}}">Editer</a></li>
			</ul>
		</div>

{% endblock %}
