{% extends 'base.html.twig' %}

{% block title %}Achat
{% endblock %}

{% block body %}
	<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('purchases')}}">
      Mes achats
    </a>
  </div>
</nav>
		<div class=" mx-auto card bg-black pt-5" style="width: 18rem;">
			<ul class="list-group list-group-flush ">
				<li class="list-group-item bg-black">{{purchase.currency}}</li>
				<li class="list-group-item bg-black">Quantité:
					{{purchase.quantity}}</li>
				<li class="list-group-item bg-black">Prix d'achat:
					{{ purchase.price |number_format(2 )}}</li>
				<li class="list-group-item bg-black">Total acheté:
					{{purchase.quantity * purchase.price}}$</li>
          <li class="list-group-item bg-black"><a href="{{path('edit',{'id':purchase.id})}}">Editer</a></li>
			</ul>
		</div>

{% endblock %}
